<wm-page data-ng-controller="MainPageController" name="mainpage">
    <wm-left-panel content="leftnav" columnwidth="2" name="left_panel1"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" title="Title" leftnavpaneliconclass="wi wi-menu" backbutton="false">
        <wm-anchor caption="" name="AddLink" iconclass="wi wi-plus"></wm-anchor>
    </wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-calendar name="calendar1"></wm-calendar>
        </wm-page-content>
    </wm-content>
    <wm-mobile-tabbar dataset="home,music,edit" name="mobile_tabbar1"></wm-mobile-tabbar>
</wm-page>